<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/top-nav for top nav -->
      <%- include('partials/top-nav') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('partials/side-nav') %>
        <!-- partial -->
        <div class="main-panel">
          <!-- content-wrapper ends -->
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">New Academy</h4>
                    <p class="card-description"></p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputTopic1">Title</label>
                        <input
                          type="text"
                          class="form-control"
                          id="exampleInputTopic1"
                          placeholder="Title"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleDetails">Details</label>
                        <textarea
                          class="form-control"
                          id="exampleDetails"
                          rows="10"
                          required
                        ></textarea>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect2">Level</label>
                        <select
                          class="form-control"
                          id="exampleFormControlSelect2"
                        >
                          <option>100</option>
                          <option>200</option>
                          <option>300</option>
                          <option>400</option>
                          <option>500</option>
                          <option>Others</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect2">Faculty</label>
                        <select
                          class="form-control"
                          id="exampleFormControlSelect2"
                        >
                          <option>Agriculture</option>
                          <option>Engineering</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect2"
                          >Department</label
                        >
                        <select
                          class="form-control"
                          id="exampleFormControlSelect2"
                        >
                          <option>AEE</option>
                          <option>APH</option>
                          <option>CSH</option>
                          <option>FAQ</option>
                          <option>FST</option>
                          <option>HTM</option>
                          <option>SLM</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect2">File Type</label>
                        <select
                          class="form-control"
                          id="exampleFormControlSelect2"
                        >
                          <option>Others</option>
                          <option>Document</option>
                          <option>Video</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputLink">File Link</label>
                        <input
                          type="text"
                          class="form-control"
                          id="exampleInputLink"
                          placeholder="Link"
                          required
                        />
                      </div>

                      <button
                        type="submit"
                        class="btn btn-gradient-primary mr-2"
                      >
                        Submit
                      </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- partial:../../partials/_footer.html -->
          <%- include('partials/footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- <script src="vendors/chart.js/Chart.min.js"></script> -->
    <script
      src="js/Chart.min.js"
      integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
      crossorigin="anonymous"
    ></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- For President Vote -->
    <!-- End custom js for this page -->
  </body>
</html>
